---
layout: base.njk
jsFile: ../JS/script.js
---

<div id="nav">
    <div id="navCont">
        <a href="../index.html">Home</a>
        <a href="../stitch-landing/index.html">Stitches</a>
        <a href="../pattern-landing/index.html">Patterns</a>
        <a href="../behindTheScenes-landing/index.html">Behind The Scenes</a>
        <div id="icon"><a href="javascript:void(0);" class="icon" onclick="Menubar()">☰</a></div>
    </div>
</div>

<main id="home">
    {{ content | safe }}
</main>