---
layout: ../base.njk
---

<div id="nav">
    <a href="../../index.html">Home</a>
    <a href="../../stitch-landing/index.html">Stitches</a>
    <a href="../../pattern-landing/index.html">Patterns</a>
</div>

<main id="home">
    {{ content | safe }}
</main>